body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 24px; }

.wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.page-main {
  background: #fff; }

.page {
  padding: 100px 0;
  background: #f5f5f5; }
  .page_telegram {
    padding: 150px 0;
    background: url(../img/bg_telegram.jpg); }
  .page_white {
    background: #fff; }
  .page__title {
    font-size: 46px;
    text-align: center; }
  .page__desc {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px; }
  .page__btn {
    border: none;
    text-decoration: none;
    background: #f6844a;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 55px;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    cursor: pointer; }
    .page__btn:hover {
      background: #ff6b20; }

.header-top {
  background: #f5f5f5;
  width: 100%;
  height: 50px; }
  .header-top-social {
    display: flex;
    justify-content: center;
    line-height: 50px; }
    .header-top-social__item {
      margin-left: 25px; }
      .header-top-social__item a {
        color: #000; }
.header-logo {
  width: 100%;
  height: 170px;
  font-size: 55px;
  text-align: center;
  display: flex;
  justify-content: center; }
  .header-logo__title {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 170px;
    margin-left: 25px; }
.header-nav {
  width: 100%;
  height: 85px;
  box-shadow: 0px -6px 10px 0px rgba(50, 50, 50, 0.19);
  border-bottom: 1px solid #e7e7e7; }
  .header-nav-list {
    display: flex;
    justify-content: center;
    line-height: 85px; }
    .header-nav-list__item {
      margin-left: 70px; }
      .header-nav-list__item:first-child {
        margin-left: 0; }
      .header-nav-list__item:first-child {
        border-top: 2px solid #f6844a; }
      .header-nav-list__item a {
        text-decoration: none;
        color: #000;
        font-size: 19px;
        text-transform: uppercase; }
        .header-nav-list__item a:hover {
          border-top: 2px solid #f6844a;
          padding-top: 28px; }
.header-image {
  width: 100%;
  height: 775px;
  background: #8388c2;
  position: relative;
  color: #fff; }
  .header-image__title {
    font-size: 86px;
    position: absolute;
    left: 150px;
    top: 270px; }
    .header-image__title span {
      margin-top: 60px;
      display: block;
      font-size: 46px; }
  .header-image > .page__btn {
    position: absolute;
    left: 150px;
    top: 450px; }

.block-styles-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .block-styles-images-item-img {
    width: 369px;
    height: 224px;
    position: relative;
    margin-top: 35px; }
    .block-styles-images-item-img img {
      position: absolute;
      width: 369px;
      height: 224px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover; }
  .block-styles-images-item__title {
    background: #fff;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif; }

.block-channel {
  text-align: center; }
  .block-channel__link {
    display: block;
    text-decoration: none;
    font-size: 46px;
    color: #439ed5; }
    .block-channel__link:hover {
      text-decoration: underline; }

.block-reviews {
  text-align: center;
  display: flex;
  justify-content: space-between; }
  .block-reviews-person {
    margin-top: 75px; }
    .block-reviews-person__img {
      width: 100px;
      border-radius: 50%; }
    .block-reviews-person__text {
      margin-top: 15px;
      max-width: 500px; }
      .block-reviews-person__text:before {
        content: url(../img/quote.svg);
        display: block; }
    .block-reviews-person__name {
      margin-top: 25px;
      font-size: 19px;
      font-weight: 700; }

.block-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .block-projects-item {
    flex-basis: 33%; }
    .block-projects-item-img {
      width: 369px;
      height: 224px;
      position: relative;
      margin-top: 75px; }
      .block-projects-item-img img {
        position: absolute;
        width: 369px;
        height: 224px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover; }
    .block-projects-item__title {
      text-align: center;
      font-size: 32px;
      font-family: 'Open Sans Condensed', sans-serif;
      margin-top: 15px; }
    .block-projects-item__desc {
      text-align: center;
      margin-top: 10px;
      padding: 0 10px; }
