$light-color: #fff;
$gray-color: #f5f5f5;
$orange-color: #f6844a;
$green-color: #1d4a47;

body {
  font-size: 15px;
  line-height: 24px;
  overflow-x: hidden;
}

#toTop {
  cursor: pointer;
  color: $light-color;
  background: $orange-color;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 25px;
  bottom: 35px;
  z-index: 11;
  display: none;
  @media (max-width: 390px) {
    width: 50px;
    height: 50px;
    line-height: 50px;
    right: 20px;
    bottom: 25px;
  }
}

.wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-main {
  background: $light-color;
}

.page {
  padding: 100px 0;
  background: $gray-color;
  @media (max-width: 420px) {
    padding: 70px 0;
  }
  &_telegram {
    padding: 150px 0;
    background: url(../img/bg_telegram.jpg);
  }
  &_white {
    background: $light-color;
  }
  &__title {
    font-size: 46px;
    text-align: center;
    line-height: 40px;
    @media (max-width: 700px) {
      font-size: 36px;
    }
  }
  &__desc {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
    @media (max-width: 700px) {
      font-size: 17px;
    }
  }
  &__btn {
    border: none;
    text-decoration: none;
    background: $orange-color;
    color: $light-color;
    text-transform: uppercase;
    padding: 13px 55px;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background: #ff6b20;
    }
  }
}

.header {
  &-top {
    background: $gray-color;
    width: 100%;
    height: 50px;
    &-social {
      display: flex;
      justify-content: center;
      line-height: 50px;
      &__item {
        margin-left: 25px;
        &:first-child {
          margin-left: 0;
        }
        a {
          color: #000;
        }
      }
    }
  }
  &-logo {
    width: 100%;
    height: 170px;
    font-size: 55px;
    text-align: center;
    display: flex;
    justify-content: center;
    background: #000;
    color: $light-color;
    @media (max-width: 760px) {
      font-size: 45px;
      height: 140px;
    }
    @media (max-width: 550px) {
      font-size: 33px;
      height: 140px;
    }
    @media (max-width: 425px) {
      flex-direction: column;
      svg {
        margin: 0 auto;
      }
    }
    &__title {
      text-transform: uppercase;
      line-height: 166px;
      margin-left: 25px;
      @media (max-width: 760px) {
        line-height: 140px;
      }
      @media (max-width: 425px) {
        margin-left: 0;
        line-height: 56px;
      }
      @media (max-width: 360px) {
        margin-top: 8px;
        line-height: 32px;
        margin-left: 0;
      }
    }
  }
  &-nav {
    width: 100%;
    height: 85px;
    box-shadow: 0px -6px 10px 0px rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid #e7e7e7;
    @media (max-width: 760px) {
      height: auto;
      text-align: center; 
    }
    &-list {
      display: flex;
      justify-content: center;
      line-height: 85px;
      @media (max-width: 760px) {
        flex-direction: column; 
      }
      &__item {
        margin-left: 70px;
        @media (max-width: 950px) {
          margin-left: 40px;
        }
        @media (max-width: 760px) {
          margin-left: 0;
        }
        &:first-child {
          margin-left: 0;
        }
        &:first-child {
          border-top: 2px solid $orange-color;
          @media (max-width: 760px) {
            border: none;
          }
        }
        a {
          text-decoration: none;
          color: #000;
          font-size: 19px;
          text-transform: uppercase;
          &:hover {
            border-top: 2px solid $orange-color;
            padding-top: 28px;
            @media (max-width: 760px) {
              border-bottom: 2px solid $orange-color;
              padding-bottom: 28px;
            }
          }
        }
      }
    }
  }
  &-image {
    width: 100%;
    height: 775px;
    background: #8388c2;
    position: relative;
    color: $light-color;
    @media (max-width: 950px) {
      text-align: center;
    }
    &__title {
      font-size: 86px;
      position: absolute;
      left: 150px;
      top: 270px;
      line-height: 60px;
      @media (max-width: 1200px) {
        font-size: 74px;
      }
      @media (max-width: 950px) {
        padding-top: 250px;
        position: unset;
      }
      @media (max-width: 420px) {
        font-size: 62px;
      }
      @media (max-width: 350px) {
        font-size: 54px;
      }   
      span {
        margin-top: 40px;
        display: block;
        font-size: 46px;
        line-height: 25px;
        @media (max-width: 1200px) {
          font-size: 34px;
        }
        @media (max-width: 420px) {
          font-size: 28px;
        }
        @media (max-width: 350px) {
          font-size: 25px;
        }
      }
    }
    & > .page__btn {
      position: absolute;
      left: 150px;
      top: 450px;
      @media (max-width: 950px) {
        left: calc(50% - 86.45px);
        margin-top: 30px;
      }
    }
  }
}

.block-styles {
  &-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1200px) {
      justify-content: space-around;
    }
    &-item {
      &-img {
        width: 369px;
        height: 224px;
        position: relative;
        margin-top: 35px;
        @media (max-width: 390px) {
          padding: 0 15px;
        }
        img {
          position: absolute;
          width: 369px;
          height: 224px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          object-fit: cover;
        }
      }
      &__title {
        background: $light-color;
        height: 60px;
        width: 100%;
        text-align: center;
        line-height: 60px;
        font-size: 32px;
      }
    }
  }
}

.block-channel {
  text-align: center;
  &__link {
    display: block;
    text-decoration: none;
    font-size: 46px;
    color: #439ed5;
    @media (max-width: 420px) {
      font-size: 36px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.block-reviews {
  text-align: center;
  display: flex;
  justify-content: space-between;
  @media (max-width: 910px) {
    flex-direction: column;
  }
  &-person {
    margin-top: 75px;
    @media (max-width: 910px) {
      margin: 75px auto 0;
    }
    &__img {
      width: 100px;
      border-radius: 50%;
    }
    &__text {
      margin-top: 15px;
      max-width: 500px;
      &:before {
        content: url(../img/quote.svg);
        display: block;
      }
    }
    &__name {
      margin-top: 25px;
      font-size: 19px;
      font-weight: 700;
    }
  }
}

.block-price {
  margin-top: 135px;
  &__value {
    text-align: center;
    font-size: 200px;
    color: $orange-color;
    @media (max-width: 500px) {
      font-size: 170px;
    }
    @media (max-width: 350px) {
      font-size: 145px;
    }
    span {
      font-size: 36px;
      @media (max-width: 500px) {
        font-size: 20px;
        margin-left: -35px;
      }
    }
  }
  &__note {
    text-align: center;
    margin-top: 80px;
    @media (max-width: 500px) {
      margin-top: 13px;
    }
  }
  &-other {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    @media (max-width: 700px) {
      flex-direction: column;
    }
    &-item {
      &__value {
        text-align: center;
        font-size: 112px;
        color: $orange-color;
        @media (max-width: 350px) {
          font-size: 100px;
        }
        span {
          font-size: 26px;
          @media (max-width: 500px) {
            font-size: 20px;
            margin-left: -25px;
          }
        }
        margin-bottom: 20px;
        @media (max-width: 700px) {
          margin-top: 50px;
        }
      }
      &__note {
        text-align: center;
      }
    }
  }
}

.block-feedback {
  &-form {
    margin-top: 75px;
    &__input {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 50px;
      border: none;
      margin-bottom: 20px;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      outline: none;
      font-size: 17px;
      &::-webkit-input-placeholder {
        color: #000;
      } 
      &::-moz-placeholder {
        color: #000;
      }
    }
    &__mess {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 150px;
      border: none;
      margin-bottom: 20px;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      outline: none;
      padding: 15px 0;
      font-size: 18px;
      resize: none;
      &::-webkit-input-placeholder {
        color: #000;
      } 
      &::-moz-placeholder {
        color: #000;
      }
    }
    &__agreement {
      margin-bottom: 30px;
      &_text {
        font-size: 16px;
        @media (max-width: 390px) {
          font-size: 12px;
        }
      }
    }
    & > .page__btn {
      display: block;
      margin: 0 auto;
      background: $green-color;
    }
  }
}

footer {
  background: #000;
  height: 250px;
  @media (max-width: 910px) {
    height: 668px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  color: $light-color;
  @media (max-width: 910px) {
    flex-direction: column;
  }
  &__copy {
    text-align: center;
    background: $orange-color;
    color: $light-color;
    @media (max-width: 390px) {
      font-size: 12px;
    }
  }
  &-item {
    &_center {
      margin: auto 0;
    }
    flex-basis: 33%;
    @media (max-width: 910px) {
      flex-basis: 100%;
    }
    &-logo {
      display: flex;
      line-height: 250px;
      @media (max-width: 910px) {
        justify-content: center;
      }
      @media (max-width: 435px) {
        svg {
          width: 35px;
        }
      }
      @media (max-width: 385px) {
        line-height: 120px;
        flex-direction: column;
        svg {
          margin: 0 auto;
          position: relative;
          top: 40px;
        }
      }
      &__title {
        text-transform: uppercase;
        margin-left: 15px;
        font-size: 29px;
        @media (max-width: 435px) {
          font-size: 25px;
        }
        @media (max-width: 385px) {
          margin-left: 0;
          text-align: center;
        }
      }
    }
    &-links {
      text-align: center;
      &__item {
        a {
          color: $light-color;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &-social {
      display: flex;
      justify-content: center;
      &__item {
        margin-left: 20px;
        line-height: 250px;
        @media (max-width: 910px) {
          &:first-child {
            margin-left: 0;
          }
        }
        a {
          i {
            color: $light-color;
            text-decoration: none;
          }
        }
      }
    }
  }
}